.product {
      display: flex;
      flex-direction: column;
      z-index: 1;
      background-color: white;
      align-items: center;
      justify-content: flex-end;
      margin: 10px;
      padding: 20px;
      width: 100%;
      max-height: 500px;
      min-width: 100px


}

.product img {
      max-height: 300px;
      width: 100%;
      object-fit: contain;
    
}
.product_info {
      margin-top:15px;
      height: 100px;
      margin-bottom: 10px;
      width: 80%;
     

}
.product_price {
      margin-top: 5px;
}

.product button {
      background-color: rgb(243, 165, 19);
      border: 1px solid #e99d11;
      margin-top: 10px;
      color: #111;
      
}
.product_rating {
      display: flex;
}